.card a {
  text-decoration: none !important;
}
.card {
  width: 18.3vw;
  min-width: 13.5rem;
  background-color: #ffffff;
  box-shadow: 0px 2.5327px 32px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin: 1rem 0.3rem;
}
.card:hover {
  transform: scale(1.03);
}
.cardText {
  font-size: 1.05rem;
  font-weight: 700;
  font-family: "Gilroy-Bold", sans-serif;
  color: #4b4f60;
  line-height: 1.2rem;
  text-align: left;
}
.cardImg {
  /* width: 294px;
  height: 187px; */
  width: 100%;
  margin-bottom: 1rem;
  height: 7.5rem;
}

@media only screen and (max-width: 575px) {
  .card {
    /* width: 65%; */
    min-width: 15.5rem;
    margin-bottom: 9.5vh;
  }
  .cardImg {
    height: auto;
  }
}
