.newComment {
  display: flex;
  font-family: "Gilroy-Medium", sans-serif;
}

.newComment .commentUserImg {
  margin: 3.5vh 2% 0 0;
}
.newComment .commentContent {
  border-radius: 5px;
  padding: 2.5vh 2.5vw;
  margin: 2vh 0;
  line-height: 1.5rem;
  font-size: 1.05rem;
  text-align: justify;

  box-shadow: 4px 1px 18px 13px rgb(0 0 0 / 8%);
  overflow-wrap: anywhere;
  /* width: -webkit-fill-available; */
  width: 100%;
}

.commentContent .commentHeader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5vh;
}

.commentContent .userName {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  text-align: start;
}
.commentContent .commentDate {
  font-size: 0.7rem;
  font-weight: 900;
  color: #525252;
}

/* .commentContent .commentText {
 
} */

.commentContent .commentFooter {
  margin-top: 2vh;
  width: fit-content;
  display: flex;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.commentContent .commentFooter:hover {
  cursor: pointer;
}

.commentFooter img {
  padding-left: 5px;
  width: 1.35rem;
}
