@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  font-size: calc(15px + 0.3vw) !important;
}
.navbar {
  background-color: #ffffff;
  padding: 2.4vh 10vw;
  box-shadow: 0px 4px 24px rgba(70, 74, 140, 0.18);
  /* margin-bottom: 3.2vh; */
  text-align: center;
}
/* for removing Down Symbol */
.dropdown-toggle::after {
  content: none;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.56rem;
  color: #333333 !important;
}

.navbar-brand:hover {
  transform: scale(1.03);
}

#collasible-nav-dropdown:hover,
.nav-link:hover {
  transform: scale(1.03);
}
.dropdown-item:hover {
  transform: scale(1.03);
}
.dropdown {
  margin-right: 2vw;
}

.dropdown-divider {
  margin: 0;
}

.dropdown,
.dropdown-item {
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
}
.dropdown-item:hover {
  color: #f4f5db;
  background-color: #007bff;
}
.dropdown-item.active .logoutIcon {
  stroke: #f4f5db;
}
.dropdown-item:hover .logoutIcon {
  stroke: #f4f5db;
}
#collasible-nav-dropdown,
.dropdown-item {
  color: #828282;
}
.dropdown-item {
  padding: 1.79vh 1.75vw;
}
.dropdown-menu {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 4px 52px rgba(70, 74, 140, 0.24);
  border-radius: 5px;
  padding: 0;
  border: none;
}

@media only screen and (max-width: 700px) {
  .navbar {
    padding: 2.4vh 4vw;
  }
}

@media only screen and (max-width: 575px) {
  .navbar {
    padding: 2vh 4vw;
  }
  .dropdown-menu {
    text-align: center;
  }

  #collasible-nav-dropdown:hover,
  .nav-link:hover {
    color: #f4f5db;
    background-color: #007bff;
  }
}
